.homePai{
    width: 100vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.sobrepor {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, #ff9100, #ff330077, #ff00bf);
  background-size: 200% 200%;
  animation: pulsarDegrade 12s ease-in-out infinite;
  opacity: 0.85;
}

@keyframes pulsarDegrade {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}


.homePai video{
    width: 100vw;
    height: auto;
}

.logoGrande{
        position: absolute;
        z-index: 2;
        left: 35%;
        top: 25%;
}


.degradeHeader{
    position: absolute;
    bottom: 45%;
    width: 100vw;
    height: 75%;
    z-index: 2;
}



@media screen and (max-width: 768px) {
.degradeHeader {
    bottom: 50%;
    width: 150%;
    z-index: 1;
}

.logoGrande{
        left: 3%;
        top: 25%;
        width: 60%;
    }

  .logoGrande img{
        width: 150%;
    }
  
}