.servicosCardPai {
  flex: 1 1 25rem; 
  max-width: 20rem;
  height: 25rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 231, 220);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  font-size: 1.2rem;
}


.servicosCardItem {
font-size: 0.8rem;
list-style: none;
font-weight: 100;
}

.servicosCardPai ul {
  margin: 0;
  padding-left: 0;
  padding-inline-start: 0;
  list-style: none; 
  line-height: 3.6;
}

.servicosCardTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
  text-transform: uppercase;
}

.servicosCardSubtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: #555;
}

.iconeCardServ {
  width: 2rem;
  position: absolute;
  height: auto;
  align-self: center;
  margin-top: auto;

}

@media screen and (max-width: 768px) {
  .servicosCardPai {
    max-width: 100%;
    height: auto;
    min-height: auto;
    padding: 1rem;
    font-size: 1rem;
  }
}
